<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div id="main">
      <%=yield%>
    </div>

    <footer>
      <p>There are <%=@users.size%> users with a total of <%=count_interests%> interests.</p>
    </footer>

  </body>
</html>